# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [46]:
# Import sqlite3 and pandas.
#C:/Users/Ocey 2.0/azuredatastudio-python (python 3)pip install pandas

import sqlite3 as sl

#import pandas

#ModuleNotFoundError                       Traceback (most recent call last)
#Cell In[14], line 5
#      1 # Import sqlite3 and pandas.
#      2 #C:/Users/Ocey 2.0/azuredatastudio-python (python 3)pip install pandas
#      4 import sqlite3 as sl
#----> 5 import pandas

#ModuleNotFoundError: No module named 'pandas'

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [48]:
# Create a new database called exercises.db.

con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [50]:
# Create a new table in your database. with con:
# DOESNT NEED THE .DB AT THE END TO CREATE A TABLE (WILL THROW AN ERROR MESSAGE THAT FAVORITE BOOKS DB DOES NOT EXIST)

import sqlite3

con = sqlite3.connect('exercises.db')
print ("Opened database successfully");

con.execute('''CREATE TABLE favorite_books (
        title TEXT,
        author TEXT,
        description TEXT);''')

print ("Table created successfully");

Opened database successfully

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [51]:
# Add your 3 favorite books to your table.

#Need to define the SQL statement with question marks as  placeholder.
#Create some sample data to be inserted
sql = 'INSERT INTO favorite_books (title, author, description) VALUES(?, ?, ?)'
data = [
    ('Cinder', 'Marissa Meyer', "Sixteen-year-old Cinder, a gifted mechanic, is a cyborg. She's a second-class citizen with a mysterious past and is reviled by her stepmother. But when her life becomes intertwined with the handsome Prince Kai's, she suddenly finds herself at the center of an intergalactic struggle, and a forbidden attraction."),
    ('Nana (Manga)', 'Ai Yazawa', "The series is centered on Nana Osaki and Nana Komatsu, two women who move to Tokyo at the age of 20, with the story focused on Nana O.'s pursuit for fame and Nana K.'s pursuit for romance, all while struggling to maintain their friendship"),
    ('Lore Olympus (Comic)', 'Rachel Smythe', 'A modern retelling of the relationship between the Greek goddess and got Persephone and Hades')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [53]:
# Write your SELECT query here.

with con:
    data = con.execute("SELECT * FROM favorite_books")
    for row in data:
        print(row)

('Cinder', 'Marissa Meyer', "Sixteen-year-old Cinder, a gifted mechanic, is a cyborg. She's a second-class citizen with a mysterious past and is reviled by her stepmother. But when her life becomes intertwined with the handsome Prince Kai's, she suddenly finds herself at the center of an intergalactic struggle, and a forbidden attraction.")
('Nana (Manga)', 'Ai Yazawa', "The series is centered on Nana Osaki and Nana Komatsu, two women who move to Tokyo at the age of 20, with the story focused on Nana O.'s pursuit for fame and Nana K.'s pursuit for romance, all while struggling to maintain their friendship")
('Lore Olympus (Comic)', 'Rachel Smythe', 'A modern retelling of the relationship between the Greek goddess and got Persephone and Hades')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [20]:
# Use Pandas to make a new table in your database.

with con:
con.execute('''CREATE TABLE favorite_movies (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        title TEXT,
        Rotten Tomatoe Rating INTEGER,
        description TEXT);''')

print ("Table created successfully");